@theme {
  --color-black: #1d2025;
  --color-grey-500: #6b7280;
  --color-grey-300: #e5e7eb;
  --color-grey-200: #f3f4f6;
  --color-grey-100: rgba(243, 244, 246, 0.5);
  --color-blue-500: #0a5adb;
  --color-blue-400: #3c83f6;
  --color-blue-100: #f0f6fe;
  --color-icon-bg: rgba(60, 131, 246, 0.1);
}
